.tampah {
  border: 2px solid #ddd;
  border-radius: 8px;
}

.bar{
  width: 100%;
  margin-top: 10px;
  font-size: 25px;
}

table{
  width: 100%;
}

td{
  width: 50%;
}

.kamubenar{
  background-color: rgb(0, 99, 0);
}

.kamusalah{
  background-color: #b60000;
  
}

.tulisan_kanji{
  font-size: 60px;
}

.pilihan{
  background-color: transparent;
  width: 100%;
  margin-bottom: 10px;
}

.button{
  display: inline-block;
  width: 47%;
  border-radius: 30px;
  background-color: aqua;
  margin: 2px;
  padding: 2px;
  overflow: scroll;
}

button{
  width: 47%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 2px;
}

.tulisan_pilihan{
  font-size: 25px;
}

.pertanyaan{
  font-size: 25px;
}

.benar{
  background-color: rgb(78, 247, 112);
  color: black;
}

.salah{
  background-color: rgb(252, 53, 53);
  color: black;
}

span{
  display: inline;
}

.sumbangButton{
  width: 100%;
  background-color: rgb(246, 50, 82);
  color: white;
}

.mengajakMenyumbang{
  font-size: 20px;
}

.buttonPilihan{
  outline: none;
}

.buttonPilihan:focus{
  outline: none; /* Menghapus outline pada pseudo-class focus */
  box-shadow: none; /* Menghapus bayangan jika ada */
}

.buttonPilihan:hover{
  outline: none;
}

.buttonPilihan .romaji {
  font-weight: bold;
  font-size: 16px;
}

.buttonPilihan .arti {
  font-size: 12px;
  color: gray;
}